

<div class="container">
    <div class="row center">
     <div>
        <div *ngIf="token_expired" class="expired">
            <h2  >reset password token has expired or invalid please request a new one</h2>
        </div>
         <img *ngIf="!token_expired" src="assets/rest-pass.jpg" alt="">
     </div>
        <div class=" form">
            <div *ngIf="!token_expired">
                <h1 class="title">Reset password</h1>
               
            </div>
            <h5 class="description mb-5">saisissez votre adresse email ci-dessous pour réinitialiser votre mot de passe.</h5>
         <form [formGroup]="myGroup">
            <div class="field mt-5 mb-2">
                       
                        
                       
                <input formControlName="email" placeholder="Email" style="width: 100%;" [ngClass]="{'ng-invalid': isControlHasError('email','required')  && submited}"  pInputText />
                <small  id="username2-help" class="p-error block" *ngIf="isControlHasError('email','required')  && submited">Email is required.</small>
                <small  id="username2-help" class="p-error block" *ngIf="isControlHasError('email','email') && submited">Email is not valid.</small>
            </div>
         </form>
                   
                   
                    <button (click)="submit()" [loading]="isLoading" [style]="{'width': '100%'}" pButton pRipple type="button" label="Envoyer" class="p-button-raised" styleClass="p-button-sm"></button>
         
         <hr>
         <p class="signUp"> return to login page? <a routerLink="/auth/login"> <b><i class="fa fa-arrow-left" aria-hidden="true"></i></b> </a></p>
        </div>
    
    </div>
</div>
